name: "Lint"

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"

    # see: https://github.com/stefanzweifel/git-auto-commit-action#usage
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v4.1.7"
          with:
            token: ${{ secrets.WORKFLOW_PAT || github.token }}
            ref: ${{ github.head_ref }}

        - name: "Set up Python"
          uses: actions/setup-python@v5.1.1
          with:
            python-version: "3.11"
            cache: "pip"

        - name: "Install requirements"
          run: python3 -m pip install -r requirements.txt

        - name: "Format"
          run: python3 -m ruff format .

        - name: "Check"
          run: python3 -m ruff check .

        - name: "Auto Commit"
          uses: stefanzweifel/git-auto-commit-action@v5.0.1
          with:
            commit_message: 'Style fixes by ruff'
